$lime : rgba(219,216,47,1);
$slate-900 : rgba(19,48,5,1);
$slate-700 : rgba(78,110,126,1);
$slate-500 : rgba(107,148,168,1);
$slate-300 : rgba(154,190,213,1);
$slate-100 : rgba(228,244,253,1);
$white : rgba(255,255,244,1);
$red : rgba(215,51,40,1);
