@use "./colors" as *;

@mixin text-preset($fontSize, $fontColor, $lineHeight, $letterSpacing, $fontWeight ) {
  font-family: "Plus Jakarta Sans";
  color: $fontColor;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  font-weight: $fontWeight;
}


@mixin text-preset-1($fontSize: 3.5rem, $fontColor: $slate-900, $lineHeight: 125%, $letterSpacing: -1px, $fontWeight: 700 ) {
  @include text-preset($fontSize, $fontColor, $lineHeight, $letterSpacing, $fontWeight);
}

@mixin text-preset-2($fontSize: 1.5rem, $fontColor: $color-slate-900, $lineHeight: 125%, $letterSpacing: -1px, $fontWeight: 700 ) {
  @include text-preset($fontSize, $fontColor, $lineHeight, $letterSpacing, $fontWeight);
}

@mixin text-preset-3($fontSize: 1.125rem, $fontColor: $color-slate-900, $lineHeight: 125%, $letterSpacing: -1px, $fontWeight: 700 ) {

  @include text-preset($fontSize, $fontColor, $lineHeight, $letterSpacing, $fontWeight);
}

@mixin text-preset-4($fontSize: 1rem, $fontColor: $color-slate-900, $lineHeight: 150%, $letterSpacing: 0px, $fontWeight: 500 ) {

  @include text-preset($fontSize, $fontColor, $lineHeight, $letterSpacing, $fontWeight);
}

@mixin text-preset-5($fontSize: 0.875rem, $fontColor: $color-slate-900, $lineHeight: 150%, $letterSpacing: 0px, $fontWeight: 500 ) {

  @include text-preset($fontSize, $fontColor, $lineHeight, $letterSpacing, $fontWeight);
}
